<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/register.css" type="text/css">
</head>

<body>
    <div id="login-box">
        <form class="registrasi-1" action="/" method="post">
            <div class="registrasi">
                <h1>Add Song</h1>
                <input type="text" placeholder="Title" name="Title">
                <input type="text" placeholder="Artist" name="Artist">
                <input type="text" placeholder="Genre" name="Genre">
                <input type="text" placeholder="comments" name="comments">
                <input type="submit" value="submit">
            </div>
            <div class="right-box">
                <!-- <span class="signwith">Register With<br>Sosial Media</span>
            <button class="sosial facebook">
                Register with Facebook
            </button>
            <button class="sosial google">
                Register with Google+
            </button> -->
            </div>
        </form>
    </div>

    <!-- <div>
        <form action="/" method="post">
            Title:
            <input type="text" name="Title">
            <br>
            Artist:
            <input type="text" name="Artist">
            <br>
            Genre:
            <input type="text" name="Genre">
            <br>
            Comment
            <input type="text" name="comments">
            <br>
            <input type="submit" value="submit">
    </div> -->

</body>

</html>