<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form class="ui form">
    <div class="field">
      <label>Nama</label>
      <input type="text" name="Nama" placeholder="Nama">
    </div>
    <div class="field">
      <label>Email</label>
      <input type="email" name="email" placeholder="email">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password" placeholder="password">
    </div>
    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden">
        <label>I agree to the Terms and Conditions</label>
      </div>
    </div>
    <button class="ui button" type="submit">Submit</button>
  </form>
  </div>
</body>
<!-- 56f42e4bf76a4ab571f3168a2f028d5c -->

</html>