<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fosan Cloud</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
  <link rel="stylesheet" href="/css/register.css" type="text/css">
  <title>Registrasi</title>
</head>

<body>
  <div id="login-box">
    <form class="registrasi-1" action="/user/register" method="post">
      <div class="registrasi">
        <h1>REGISTRATION</h1>
        <input type="text" placeholder="Nama Lengkap" name="nama">
        <input type="text" placeholder="Email" name="email">
        <input type="password" placeholder="Password" name="password">
        <input type="submit" value="register">
      </div>
      <div class="right-box">
        <span class="signwith">Register With<br>Sosial Media</span>
        <button class="sosial facebook">
          Register with Facebook
        </button>
        <button class="sosial google">
          Register with Google+
        </button>
      </div>
    </form>
  </div>


  <!-- <form class="registrasi-1" action="/user/register" method="post">
      nama:
      <input type="text" name="name">
      <br>
      email:
      <input type="text" name="email">
      <br>
      password:
      <input type="text" name="password">
      <br>
      <input type="submit" value="Registrasi">
    </form> -->

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>
<!-- 56f42e4bf76a4ab571f3168a2f028d5c -->

</html>